<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Cargo Archetype Web Application Single Module</display-name>
        
    <servlet>
        <servlet-name>JerseyServletName</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>fmin362.resources</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyServletName</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
   
   <!-- url images -->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>fmin362.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>
    
   <!-- pour faire du cross-domain avec cors -->
   <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
                <param-name>cors.allowOrigin</param-name>
                <param-value>*</param-value>
        </init-param>
   </filter>
   
   <filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>JerseyServletName</servlet-name>
   </filter-mapping>
                                       
</web-app>
